<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.life.Mapper.test.RoleMapper">
    <select id="queryCount_Role" resultType="int">
        select *
        from test_recruiter.role_authority_fk
        where ID = #{id};
    </select>
    <delete id="addRole">
        insert into test_recruiter.role(ID, Name)
        VALUES (#{param1}, #{param2});
    </delete>

    <delete id="delRole">
        delete
        from test_recruiter.role
        where ID = #{param1};
    </delete>

    <update id="updRole">
        update test_recruiter.role
        set Name = #{param1.Name}
    </update>

    <select id="queryRole" parameterType="int" resultType="PermissionList">
        select *
        from test_recruiter.role_authority_fk
        where ID = #{id};
    </select>

    <select id="getAllRole" resultType="com.life.POJO.test.RoleList">
        select *
        from test_recruiter.role_authority_fk;
    </select>
</mapper>