<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.life.Mapper.test.StudentMapper">
    <!--插入一条新的学生信息-->
    <insert id="AddStudent" parameterType="student">
        insert into test_recruiter.student
            (ID,Sex,Name,Email,Icon,NickName,Password,Account,Number)
         values
         (#{ID},#{Sex},#{Name},#{Email},#{Icon},#{NickName},#{Password},#{Account},#{Number})
    </insert>
    <!--修改用户信息-->
    <update id="UpdStudent" parameterType="student">
        UPDATE student <set>
            <if test="Sex !=null">
                Sex=#{Sex},
            </if>
            <if test="Name !=null">
                Name=#{Name},
            </if>
            <if test="Email !=null">
                Email=#{Email},
            </if>
            <if test="Icon !=null">
                Icon=#{Icon},
            </if>
            <if test="NickName !=null">
                NickName=#{NickName},
            </if>
            <if test="Password !=null">
                Password=#{Password},
            </if>
            <if test="Account !=null">
                Account=#{Account}
            </if>
        </set>
        where ID=#{ID}
    </update>
    <delete id="DelStudent" parameterType="String">
        DELETE from student where ID=#{ID}
    </delete>
    <!--查询所有学生信息-->
    <select id="studentList" resultType="student">
        select * from student
    </select>
    <!--查询特定的学生信息-->
    <select id="getStudent" resultType="student">
        select * from student where ID=#{ID}
    </select>

</mapper>