<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.life.Mapper.AuthoritiesMapper">
    <resultMap id="BaseResultMap" type="com.life.POJO.Authorities">
        <!--@mbg.generated-->
        <!--@Table recruiter.authority-->
        <id column="number" jdbcType="VARCHAR" property="number"/>
        <result column="competence" jdbcType="VARCHAR" property="competence"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="token" jdbcType="VARCHAR" property="token"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        number, competence, name, token
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from recruiter.authority
        where `number` = #{number,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        <!--@mbg.generated-->
        delete
        from recruiter.authority
        where `number` = #{number,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.life.POJO.Authorities">
        <!--@mbg.generated-->
        insert into recruiter.authority (`number`, competence, `name`,
                                         token)
        values (#{number,jdbcType=VARCHAR}, #{competence,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR},
                #{token,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.life.POJO.Authorities">
        <!--@mbg.generated-->
        insert into recruiter.authority
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="number != null">
                `number`,
            </if>
            <if test="competence != null">
                competence,
            </if>
            <if test="name != null">
                `name`,
            </if>
            <if test="token != null">
                token,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="number != null">
                #{number,jdbcType=VARCHAR},
            </if>
            <if test="competence != null">
                #{competence,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="token != null">
                #{token,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.life.POJO.Authorities">
        <!--@mbg.generated-->
        update recruiter.authority
        <set>
            <if test="competence != null">
                competence = #{competence,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                `name` = #{name,jdbcType=VARCHAR},
            </if>
            <if test="token != null">
                token = #{token,jdbcType=VARCHAR},
            </if>
        </set>
        where `number` = #{number,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.life.POJO.Authorities">
        <!--@mbg.generated-->
        update recruiter.authority
        set competence = #{competence,jdbcType=VARCHAR},
            `name`     = #{name,jdbcType=VARCHAR},
            token      = #{token,jdbcType=VARCHAR}
        where `number` = #{number,jdbcType=VARCHAR}
    </update>
    <select id="query_all" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from authority;
    </select>
    <select id="query_name" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from authority
        where `name` like CONCAT('%',#{name,jdbcType=VARCHAR},'%')
    </select>
</mapper>