<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.life.Mapper.IdentityMapper">
    <resultMap id="BaseResultMap" type="com.life.POJO.Identity">
        <!--@mbg.generated-->
        <!--@Table recruiter.identity-->
        <id column="number" jdbcType="VARCHAR" property="number"/>
        <result column="Name" jdbcType="VARCHAR" property="name"/>
        <result column="account" jdbcType="VARCHAR" property="account"/>
        <result column="ID" jdbcType="VARCHAR" property="id"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        `number`, `Name`, account, ID
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from recruiter.identity
        where `number` = #{number,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        <!--@mbg.generated-->
        delete
        from recruiter.identity
        where `number` = #{number,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.life.POJO.Identity">
        <!--@mbg.generated-->
        insert into recruiter.identity (`number`, `Name`, account,
                                        ID)
        values (#{number,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{account,jdbcType=VARCHAR},
                #{id,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.life.POJO.Identity">
        <!--@mbg.generated-->
        insert into recruiter.identity
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="number != null">
                `number`,
            </if>
            <if test="name != null">
                `Name`,
            </if>
            <if test="account != null">
                account,
            </if>
            <if test="id != null">
                ID,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="number != null">
                #{number,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="account != null">
                #{account,jdbcType=VARCHAR},
            </if>
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.life.POJO.Identity">
        <!--@mbg.generated-->
        update recruiter.identity
        <set>
            <if test="name != null">
                `Name` = #{name,jdbcType=VARCHAR},
            </if>
            <if test="account != null">
                account = #{account,jdbcType=VARCHAR},
            </if>
            <if test="id != null">
                ID = #{id,jdbcType=VARCHAR},
            </if>
        </set>
        where `number` = #{number,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.life.POJO.Identity">
        <!--@mbg.generated-->
        update recruiter.identity
        set `Name`  = #{name,jdbcType=VARCHAR},
            account = #{account,jdbcType=VARCHAR},
            ID      = #{id,jdbcType=VARCHAR}
        where `number` = #{number,jdbcType=VARCHAR}
    </update>

    <select id="selectByName" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from recruiter.identity
        where name like concat('%',#{name,jdbcType=VARCHAR},'%');
    </select>
</mapper>