<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.life.Mapper.UserRoleMapper">
  <resultMap id="BaseResultMap" type="com.life.POJO.UserRole">
    <!--@mbg.generated-->
    <!--@Table recruiter.user_role-->
    <id column="number" jdbcType="VARCHAR" property="number" />
    <result column="User_ID" jdbcType="INTEGER" property="userId" />
    <result column="Identity_ID" jdbcType="VARCHAR" property="identityId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    `number`, User_ID, Identity_ID
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from recruiter.user_role
    where `number` = #{number,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from recruiter.user_role
    where `number` = #{number,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.life.POJO.UserRole">
    <!--@mbg.generated-->
    insert into recruiter.user_role (`number`, User_ID, Identity_ID
      )
    values (#{number,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER}, #{identityId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.life.POJO.UserRole">
    <!--@mbg.generated-->
    insert into recruiter.user_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="number != null">
        `number`,
      </if>
      <if test="userId != null">
        User_ID,
      </if>
      <if test="identityId != null">
        Identity_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="number != null">
        #{number,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="identityId != null">
        #{identityId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.life.POJO.UserRole">
    <!--@mbg.generated-->
    update recruiter.user_role
    <set>
      <if test="userId != null">
        User_ID = #{userId,jdbcType=INTEGER},
      </if>
      <if test="identityId != null">
        Identity_ID = #{identityId,jdbcType=VARCHAR},
      </if>
    </set>
    where `number` = #{number,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.life.POJO.UserRole">
    <!--@mbg.generated-->
    update recruiter.user_role
    set User_ID = #{userId,jdbcType=INTEGER},
      Identity_ID = #{identityId,jdbcType=VARCHAR}
    where `number` = #{number,jdbcType=VARCHAR}
  </update>
  <select id="selectAllByUserId" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List" />
        from recruiter.user_role
        where User_ID=#{userId,jdbcType=INTEGER}
    </select>

<!--    <select id="selectByName" resultType="com.life.POJO.User">-->
<!--        select-->
<!--        <include refid="Base_Column_List" />-->
<!--        from recruiter.user-->
<!--        where name like concat('%', #{name,jdbcType=VARCHAR}, '%')-->
<!--    </select>-->
</mapper>