<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.life.Mapper.UserResourceMapper">
  <resultMap id="BaseResultMap" type="com.life.POJO.user.UserResource">
    <!--@mbg.generated-->
    <!--@Table user_resource-->
    <id column="number" jdbcType="VARCHAR" property="number" />
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="imgPath" jdbcType="VARCHAR" property="imgpath" />
    <result column="appendix" jdbcType="VARCHAR" property="appendix" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    `number`, id, imgPath, appendix
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from user_resource
    where `number` = #{number,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from user_resource
    where `number` = #{number,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.life.POJO.user.UserResource">
    <!--@mbg.generated-->
    insert into user_resource (`number`, id, imgPath, 
      appendix)
    values (#{number,jdbcType=VARCHAR}, #{id,jdbcType=INTEGER}, #{imgpath,jdbcType=VARCHAR}, 
      #{appendix,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.life.POJO.user.UserResource">
    <!--@mbg.generated-->
    insert into user_resource
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="number != null">
        `number`,
      </if>
      <if test="id != null">
        id,
      </if>
      <if test="imgpath != null">
        imgPath,
      </if>
      <if test="appendix != null">
        appendix,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="number != null">
        #{number,jdbcType=VARCHAR},
      </if>
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="imgpath != null">
        #{imgpath,jdbcType=VARCHAR},
      </if>
      <if test="appendix != null">
        #{appendix,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.life.POJO.user.UserResource">
    <!--@mbg.generated-->
    update user_resource
    <set>
      <if test="id != null">
        id = #{id,jdbcType=INTEGER},
      </if>
      <if test="imgpath != null">
        imgPath = #{imgpath,jdbcType=VARCHAR},
      </if>
      <if test="appendix != null">
        appendix = #{appendix,jdbcType=VARCHAR},
      </if>
    </set>
    where `number` = #{number,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.life.POJO.user.UserResource">
    <!--@mbg.generated-->
    update user_resource
    set id = #{id,jdbcType=INTEGER},
      imgPath = #{imgpath,jdbcType=VARCHAR},
      appendix = #{appendix,jdbcType=VARCHAR}
    where `number` = #{number,jdbcType=VARCHAR}
  </update>
</mapper>