<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<script type="text/javascript" src="../static/vendor/jquery/jquery.min.js"></script>
<!--  <script type="text/javascript">
      $(document).ready(function () {
          $(".stripFrame").on('click', function () {
              $(".input-frame").css("display", 'none');
              $(".overlap").css("display", 'none');
          });
          $(".test").on('click', function () {
              $(".input-frame").css("display", '');
              $(".overlap").css("display", 'block');
          })
      });
  </script>-->
<body>
<!--wrapper 围布-->
<div class="overlap" th:fragment="wrapper"></div>
<!--输入框-->
<div class="input-frame input-frame-Css" th:fragment="inputFrame">
    <!--title 头部标题-->
    <div style="width: 100%;text-align: center;display: inline-block">
        <div class="stripFrame" style="float: right;font-size: 18px;width: 10%">X</div>
        <div class="input-frame-title" style="font-family: 'KaiTi',serif;font-size: 20px;">
            标题
        </div>
    </div>
    <!--form 表单框-->
    <div class="form-content">
        <table class="table">
            <div class="operate" style="display: flex;flex-wrap: nowrap;padding: 0 30% 0">
                <button type="reset" class="btn btn-primary resetData" style="margin: 0 auto;">重置</button>
                <button type="submit" class="btn btn-primary submitData" targetHref='' style="margin: 0 auto;">提交</button>
            </div>
        </table>
    </div>
</div>
<!--输入框 end
<button type="button" class="btn btn-primary test" style="margin: 0 auto;">提交</button>-->
</body>
</html>