<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.life.Mapper.user.JobFavoritesMapper">
    <resultMap id="BaseResultMap" type="com.life.POJO.user.JobFavorites">
        <!--@mbg.generated-->
        <!--@Table job_favorites-->
        <id column="number" jdbcType="VARCHAR" property="number"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="job_number" jdbcType="VARCHAR" property="jobNumber"/>
        <result column="state" jdbcType="TINYINT" property="state"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        `number`, user_id, job_number, `state`, update_time, create_time
    </sql>
</mapper>