<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.life.Mapper.user.UserRankMapper">
    <resultMap id="BaseResultMap" type="com.life.POJO.user.UserRank">
        <!--@mbg.generated-->
        <!--@Table user_rank-->
        <id column="number" jdbcType="VARCHAR" property="number"/>
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="identity" jdbcType="VARCHAR" property="identity"/>
        <result column="permission" jdbcType="VARCHAR" property="permission"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        `number`, id, `identity`, permission
    </sql>
    <sql id="id_identity_permission">
        id,
        `identity`,
        permission
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from user_rank
        where `number` = #{number,jdbcType=VARCHAR}
    </select>
    <select id="selectById" parameterType="int" resultMap="BaseResultMap">
        select
        <include refid="id_identity_permission"/>
        from user_rank
        <where>
            id = #{id}
        </where>
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        <!--@mbg.generated-->
        delete
        from user_rank
        where `number` = #{number,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.life.POJO.user.UserRank">
        <!--@mbg.generated-->
        insert into user_rank (`number`, id, `identity`,
                               permission)
        values (#{number,jdbcType=VARCHAR}, #{id,jdbcType=INTEGER}, #{identity,jdbcType=VARCHAR},
                #{permission,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.life.POJO.user.UserRank">
        <!--@mbg.generated-->
        insert into user_rank
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="number != null">
                `number`,
            </if>
            <if test="id != null">
                id,
            </if>
            <if test="identity != null">
                `identity`,
            </if>
            <if test="permission != null">
                permission,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="number != null">
                #{number,jdbcType=VARCHAR},
            </if>
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="identity != null">
                #{identity,jdbcType=VARCHAR},
            </if>
            <if test="permission != null">
                #{permission,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.life.POJO.user.UserRank">
        <!--@mbg.generated-->
        update user_rank
        <set>
            <if test="id != null">
                id = #{id,jdbcType=INTEGER},
            </if>
            <if test="identity != null">
                `identity` = #{identity,jdbcType=VARCHAR},
            </if>
            <if test="permission != null">
                permission = #{permission,jdbcType=VARCHAR},
            </if>
        </set>
        where `number` = #{number,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.life.POJO.user.UserRank">
        <!--@mbg.generated-->
        update user_rank
        set id         = #{id,jdbcType=INTEGER},
            `identity` = #{identity,jdbcType=VARCHAR},
            permission = #{permission,jdbcType=VARCHAR}
        where `number` = #{number,jdbcType=VARCHAR}
    </update>
</mapper>