<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.life.Mapper.user.UserInfoMapper">
    <resultMap id="BaseResultMap" type="com.life.POJO.user.UserInfo">
        <!--@mbg.generated-->
        <!--@Table user_info-->
        <id column="number" jdbcType="VARCHAR" property="number"/>
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="nickname" jdbcType="VARCHAR" property="nickname"/>
        <result column="gender" jdbcType="BOOLEAN" property="gender"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="iphone" jdbcType="VARCHAR" property="iphone"/>
        <result column="vx" jdbcType="VARCHAR" property="vx"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="create_time"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        `number`, id, `name`, nickname, gender, address, email, iphone, vx, create_time
    </sql>
    <sql id="Base_Column_List_StripNumber">
        id,
        `name`,
        nickname,
        gender,
        address,
        email,
        iphone,
        vx,
        create_time
    </sql>
    <select id="selectById" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from user_info
        where `id` = #{id,jdbcType=INTEGER}
    </select>
    <select id="showAll" resultType="userInfo">
        select
        <include refid="Base_Column_List_StripNumber"/>
        from user_info;
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        <!--@mbg.generated-->
        delete
        from user_info
        where `number` = #{number,jdbcType=VARCHAR}
    </delete>
    <delete id="deleteById" parameterType="list">
        update user_info
        set state=1 where id in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item,jdbcType=INTEGER}
        </foreach>
    </delete>
    <insert id="insert" parameterType="userinfo">
        <!--@mbg.generated-->
        insert into user_info (`number`, id, `name`,
                               nickname, gender, address,
                               email, iphone, vx,
                               create_time)
        values (#{number,jdbcType=VARCHAR}, #{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR},
                #{nickname,jdbcType=VARCHAR}, #{gender,jdbcType=BOOLEAN}, #{address,jdbcType=VARCHAR},
                #{email,jdbcType=VARCHAR}, #{iphone,jdbcType=VARCHAR}, #{vx,jdbcType=VARCHAR},
                #{create_time,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="com.life.POJO.user.UserInfo">
        <!--@mbg.generated-->
        insert into user_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="number != null">
                `number`,
            </if>
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                `name`,
            </if>
            <if test="nickname != null">
                nickname,
            </if>
            <if test="gender != null">
                gender,
            </if>
            <if test="address != null">
                address,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="iphone != null">
                iphone,
            </if>
            <if test="vx != null">
                vx,
            </if>
            <if test="create_time != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="number != null">
                #{number,jdbcType=VARCHAR},
            </if>
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="nickname != null">
                #{nickname,jdbcType=VARCHAR},
            </if>
            <if test="gender != null">
                #{gender,jdbcType=BOOLEAN},
            </if>
            <if test="address != null">
                #{address,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="iphone != null">
                #{iphone,jdbcType=VARCHAR},
            </if>
            <if test="vx != null">
                #{vx,jdbcType=VARCHAR},
            </if>
            <if test="create_time != null">
                #{create_time,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.life.POJO.user.UserInfo">
        <!--@mbg.generated-->
        update user_info
        <set>
            <if test="id != null">
                id = #{id,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                `name` = #{name,jdbcType=VARCHAR},
            </if>
            <if test="nickname != null">
                nickname = #{nickname,jdbcType=VARCHAR},
            </if>
            <if test="gender != null">
                gender = #{gender,jdbcType=BOOLEAN},
            </if>
            <if test="address != null">
                address = #{address,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="iphone != null">
                iphone = #{iphone,jdbcType=VARCHAR},
            </if>
            <if test="vx != null">
                vx = #{vx,jdbcType=VARCHAR},
            </if>
            <if test="create_time != null">
                create_time = #{create_time,jdbcType=TIMESTAMP},
            </if>
        </set>
        where `number` = #{number,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.life.POJO.user.UserInfo">
        <!--@mbg.generated-->
        update user_info
        set id          = #{id,jdbcType=INTEGER},
            `name`      = #{name,jdbcType=VARCHAR},
            nickname    = #{nickname,jdbcType=VARCHAR},
            gender      = #{gender,jdbcType=BOOLEAN},
            address     = #{address,jdbcType=VARCHAR},
            email       = #{email,jdbcType=VARCHAR},
            iphone      = #{iphone,jdbcType=VARCHAR},
            vx          = #{vx,jdbcType=VARCHAR},
            create_time = #{create_time,jdbcType=TIMESTAMP}
        where `number` = #{number,jdbcType=VARCHAR}
    </update>
    <select id="selectDistinctByGender" resultMap="BaseResultMap">
        select distinct (gender)
        from user_info;
    </select>
</mapper>