<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.life.Mapper.user.UserInfoMapper">
    <resultMap id="BaseResultMap" type="com.life.POJO.user.UserInfo">
        <!--@mbg.generated-->
        <!--@Table user_info-->
        <id column="number" jdbcType="VARCHAR" property="number"/>
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="nickname" jdbcType="VARCHAR" property="nickname"/>
        <result column="gender" jdbcType="BOOLEAN" property="gender"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="iphone" jdbcType="VARCHAR" property="iphone"/>
        <result column="vx" jdbcType="VARCHAR" property="vx"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="imgPath" jdbcType="VARCHAR" property="imgpath"/>
        <result column="state" jdbcType="TINYINT" property="state"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        `number`, id, `name`, nickname, gender, address, email, iphone, vx, create_time,
        imgPath, `state`
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from user_info
        where `number` = #{number,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        <!--@mbg.generated-->
        delete
        from user_info
        where `number` = #{number,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.life.POJO.user.UserInfo">
        <!--@mbg.generated-->
        insert into user_info (`number`, id, `name`,
                               nickname, gender, address,
                               email, iphone, vx,
                               create_time, imgPath, `state`)
        values (#{number,jdbcType=VARCHAR}, #{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR},
                #{nickname,jdbcType=VARCHAR}, #{gender,jdbcType=BOOLEAN}, #{address,jdbcType=VARCHAR},
                #{email,jdbcType=VARCHAR}, #{iphone,jdbcType=VARCHAR}, #{vx,jdbcType=VARCHAR},
                #{createTime,jdbcType=TIMESTAMP}, #{imgpath,jdbcType=VARCHAR}, #{state,jdbcType=TINYINT})
    </insert>
    <insert id="insertSelective" parameterType="com.life.POJO.user.UserInfo">
        <!--@mbg.generated-->
        insert into user_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="number != null">
                `number`,
            </if>
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                `name`,
            </if>
            <if test="nickname != null">
                nickname,
            </if>
            <if test="gender != null">
                gender,
            </if>
            <if test="address != null">
                address,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="iphone != null">
                iphone,
            </if>
            <if test="vx != null">
                vx,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="imgpath != null">
                imgPath,
            </if>
            <if test="state != null">
                `state`,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="number != null">
                #{number,jdbcType=VARCHAR},
            </if>
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="nickname != null">
                #{nickname,jdbcType=VARCHAR},
            </if>
            <if test="gender != null">
                #{gender,jdbcType=BOOLEAN},
            </if>
            <if test="address != null">
                #{address,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="iphone != null">
                #{iphone,jdbcType=VARCHAR},
            </if>
            <if test="vx != null">
                #{vx,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="imgpath != null">
                #{imgpath,jdbcType=VARCHAR},
            </if>
            <if test="state != null">
                #{state,jdbcType=TINYINT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.life.POJO.user.UserInfo">
        <!--@mbg.generated-->
        update user_info
        <set>
            <if test="id != null">
                id = #{id,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                `name` = #{name,jdbcType=VARCHAR},
            </if>
            <if test="nickname != null">
                nickname = #{nickname,jdbcType=VARCHAR},
            </if>
            <if test="gender != null">
                gender = #{gender,jdbcType=BOOLEAN},
            </if>
            <if test="address != null">
                address = #{address,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="iphone != null">
                iphone = #{iphone,jdbcType=VARCHAR},
            </if>
            <if test="vx != null">
                vx = #{vx,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="imgpath != null">
                imgPath = #{imgpath,jdbcType=VARCHAR},
            </if>
            <if test="state != null">
                `state` = #{state,jdbcType=TINYINT},
            </if>
        </set>
        where `number` = #{number,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.life.POJO.user.UserInfo">
        <!--@mbg.generated-->
        update user_info
        set id          = #{id,jdbcType=INTEGER},
            `name`      = #{name,jdbcType=VARCHAR},
            nickname    = #{nickname,jdbcType=VARCHAR},
            gender      = #{gender,jdbcType=BOOLEAN},
            address     = #{address,jdbcType=VARCHAR},
            email       = #{email,jdbcType=VARCHAR},
            iphone      = #{iphone,jdbcType=VARCHAR},
            vx          = #{vx,jdbcType=VARCHAR},
            create_time = #{createTime,jdbcType=TIMESTAMP},
            imgPath     = #{imgpath,jdbcType=VARCHAR},
            `state`     = #{state,jdbcType=TINYINT}
        where `number` = #{number,jdbcType=VARCHAR}
    </update>
    <!--删除-->
    <delete id="deleteById" parameterType="list">
        delete
        from user_info
        <where>
            <foreach collection="list" item="id" open="(" close=")" separator="and">
                id = #{id,jdbcType=VARCHAR}
            </foreach>
        </where>
    </delete>
    <!--查询-->
    <select id="selectById" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user_info <where>
        id = #{id,jdbcType=INTEGER}
    </where>;
    </select>
    <!--查询所有-->
    <select id="queryAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user_info;
    </select>
</mapper>