<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.life.Mapper.user.UserLoginMapper">
    <resultMap id="BaseResultMap" type="com.life.POJO.user.UserLogin">
        <!--@mbg.generated-->
        <!--@Table user_login-->
        <id column="number" jdbcType="VARCHAR" property="number"/>
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="account" jdbcType="VARCHAR" property="account"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        `number`, id, account, `password`
    </sql>
    <sql id="id_account_pwd">
        id,
        account,
        `password`
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from user_login
        where `number` = #{number,jdbcType=VARCHAR}
    </select>
    <select id="selectById" resultMap="BaseResultMap">
        select
        <include refid="id_account_pwd"/>
        from user_login
        where id = #{id,jdbcType=INTEGER};
    </select>
    <update id="updateByID" parameterType="userLogin">
        update user_login
        <trim prefix="set" suffixOverrides=",">
            <if test="id != null and id != null">
                id =#{id,jdbcType=INTEGER},
            </if>
            <if test="account != null and account != ''">
                account =#{account,jdbcType=VARCHAR},
            </if>
            <if test="password != null and password != null">
                password =#{password,jdbcType=VARCHAR}
            </if>
        </trim>
        where number = #{number,jdbcType=VARCHAR};
    </update>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        <!--@mbg.generated-->
        delete
        from user_login
        where `number` = #{number,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="userLogin">
        <!--@mbg.generated-->
        insert into user_login (`number`, id, account,
                                `password`)
        values (#{number,jdbcType=VARCHAR}, #{id,jdbcType=INTEGER}, #{account,jdbcType=VARCHAR},
                #{password,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.life.POJO.user.UserLogin">
        <!--@mbg.generated-->
        insert into user_login
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="number != null">
                `number`,
            </if>
            <if test="id != null">
                id,
            </if>
            <if test="account != null">
                account,
            </if>
            <if test="password != null">
                `password`,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="number != null">
                #{number,jdbcType=VARCHAR},
            </if>
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="account != null">
                #{account,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.life.POJO.user.UserLogin">
        <!--@mbg.generated-->
        update user_login
        <set>
            <if test="id != null">
                id = #{id,jdbcType=INTEGER},
            </if>
            <if test="account != null">
                account = #{account,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                `password` = #{password,jdbcType=VARCHAR},
            </if>
        </set>
        where `number` = #{number,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.life.POJO.user.UserLogin">
        <!--@mbg.generated-->
        update user_login
        set id         = #{id,jdbcType=INTEGER},
            account    = #{account,jdbcType=VARCHAR},
            `password` = #{password,jdbcType=VARCHAR}
        where `number` = #{number,jdbcType=VARCHAR}
    </update>
</mapper>