<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
  <title>公司页面</title>

  <!-- Bootstrap -->
  <link href="static/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/css/flexslider.css" rel="stylesheet">
  <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
  <script src="static/js/JQuery-3.4.1.min.js"></script>
  <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
  <script src="static/js/bootstrap.min.js"></script>
  <!-- 加载flexSlide插件,是图片转换的更加平滑-->
  <script src="static/js/jquery.flexslider.js"></script>
  <!--  Scrolling Reveal Script -->
  <script src="static/js/scrollReveal.js"></script>
  <!--  Scroll Scripts -->
  <script src="static/js/jquery.easing.min.js"></script>
  <script src="static/js/bootstrap.js"></script>
  <script src="static/js/animation.js"></script>
  <style>
    html {
      font-family: sans-serif;
      line-height: 1.15;
      -webkit-text-size-adjust: 100%;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }

    article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
      display: block;
    }

    body {
      margin: 0;
      padding: 0;
      font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol", "Noto Color Emoji";
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #858796;
      text-align: left;
      background-color: rgba(235, 238, 241, 0.93);
    }

    .header-navbar { /* 导航栏修改*/
      font-size: 14px;
      letter-spacing: 1px;
      min-height: 70px;
      background: #180303;
    }

    .logo-icon { /* 图标固定大小 */
      height: 51px;
      width: 180px;
      transform: translate(0px, -10px);
    }

    .navbar-font {
      transform: translate(0px, 7px); /* 以2D的形式进行位移 */
    }

    .navbar-nav {
      display: inline-block;
      float: none;
    }

    .navbar-nav li a {
      color: #050505;
    }

  </style>
</head>
<body>
<!--头部-->
<div class="navbar navbar-inverse  header-navbar " id="menu">
  <div class="container ">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        <img class="logo-icon" src="assets/img/logo180-50.png" alt="标题"/>
      </a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right navbar-font">
        <li><a href="#home">主页</a></li>
        <li><a href="#features-sec">介绍</a></li>
        <li><a href="#faculty-sec">工作</a></li>
        <li><a href="#course-sec">课程</a></li>
        <li><a href="#contact-sec">联系我们</a></li>
      </ul>
    </div>
  </div>
</div>
<!--head end-->

<!--firm card-->
<div class="row " style="margin: 35px 0 0 0 ;height:120px;">
  <div class="col-lg-offset-3 col-md-offset-3 col-sm-offset-3 ">
    <div class="center-block col-md-2 col-lg-2 col-sm-2" style="width: 144px;height: 120px">
      <img src="static/img/content/brand/china_connect.jpg" alt=".." style="width: 83%;height: 60%">
    </div>
    <div class="col-md-4 col-lg-4 col-sm-4 " style="margin-top:-10px;">
      <div class="" style=" line-height: 34px">
        <h1 style="margin: 12px 0 5px 0;font-size: 24px">数据移动有限公司</h1>
        <div style="font-size: 14px;
                            color: #9497a1;
                            position: relative;
                            vertical-align: middle;
                            float: left;width: 100%">
          <span>成立时期</span>|
          <span>企业类别</span>|
          <span>成员人数</span>|
          <span>企业专职</span>
        </div>
        <p class="" style="line-height: 20px">
          <a href="#">官网</a>
        </p>
      </div>
    </div>
    <div class="col-md-5 col-sm-5 col-lg-5" style="float: right">
      <p style="font-size: 20px">170</p>
      <p>在招职位</p>
    </div>
  </div>
</div>
<!--firm card end-->
<!--introduction -->
<div class="container">
  <!--2.主体-->
  <div class="col-sm-8 left-container" style="border-left: none;
            border-top: 1px solid #ccc;
            border-right: 1px solid #ccc;">
    <!--firm introduce-->
    <div align="center" style="font-size: 14px;
                                    color: #666;
                                    margin-bottom: 20px;
                                    margin-top: 10px;">
      <br/>
      <p>
        &nbsp; &nbsp;&nbsp; &nbsp;&nbsp;小时候，总常常幻想着自己可以长大，可以独自一人去领略更多优美的风光。
        我们这一生，会有太多太多的梦想，要么就是用尽全力去实现他，要么就是永远沉积在自己的心中。
        我喜欢旅行，向往美丽的山、美丽的水，一见到大海和草原我就会心旷神怡，深陷其中。
        我期盼可以带着自己最爱的人去遨游世界，让他给自己拍上几张美美的照片。<br/>
        &nbsp; &nbsp;&nbsp; &nbsp;&nbsp;小时候，总常常幻想着自己可以长大，可以独自一人去领略更多优美的风光。
        我们这一生，会有太多太多的梦想，要么就是用尽全力去实现他，要么就是永远沉积在自己的心中。
        我喜欢旅行，向往美丽的山、美丽的水，一见到大海和草原我就会心旷神怡，深陷其中。
        我期盼可以带着自己最爱的人去遨游世界，让他给自己拍上几张美美的照片。
      </p>
      <img src="static/img/content/brand/联通集团大楼.jpeg" style="width: 80%;height: 80%" alt="..">
      <br/><br/>
    </div>
    <!--firm introduce end-->

    <!--firm advantage-->
    <div class="advantage" style="margin-bottom: 100px;">
      <h1 class="module-title" style="border-bottom: 1px solid #ccc; font-size: 18px;
           ">公司优势</h1>
      <ul class="advantage__warpper" style="list-style: none;margin-top: 0;line-height: 30px">
        <li style="adding: 6px 10px;
                            border: 1px solid rgba(148,151,161,.3);
                            border-radius: 2px;
                            font-size: 14px;
                            color: #9497a1;
                            float: left;
                            margin-right: 10px;
                            margin-top: 15px;
                            ">五险一金
        </li>
        <li style="adding: 6px 10px;
                            border: 1px solid rgba(148,151,161,.3);
                            border-radius: 2px;
                            font-size: 14px;
                            color: #9497a1;
                            float: left;
                            margin-right: 10px;
                            margin-top: 15px;
                            ">补充医疗保险
        </li>
        <li style="adding: 6px 10px;
                            border: 1px solid rgba(148,151,161,.3);
                            border-radius: 2px;
                            font-size: 14px;
                            color: #9497a1;
                            float: left;
                            margin-right: 10px;
                            margin-top: 15px;
                            ">绩效奖金
        </li>
        <li style="adding: 6px 10px;
                            border: 1px solid rgba(148,151,161,.3);
                            border-radius: 2px;
                            font-size: 14px;
                            color: #9497a1;
                            float: left;
                            margin-right: 10px;
                            margin-top: 15px;
                            ">加班补助
        </li>
        <li style="adding: 6px 10px;
                            border: 1px solid rgba(148,151,161,.3);
                            border-radius: 2px;
                            font-size: 14px;
                            color: #9497a1;
                            float: left;
                            margin-right: 10px;
                            margin-top: 15px;
                            ">交通补助
        </li>
        <li style="adding: 6px 10px;
                            border: 1px solid rgba(148,151,161,.3);
                            border-radius: 2px;
                            font-size: 14px;
                            color: #9497a1;
                            float: left;
                            margin-right: 10px;
                            margin-top: 15px;
                            ">餐补
        </li>
        <li style="adding: 6px 10px;
                            border: 1px solid rgba(148,151,161,.3);
                            border-radius: 2px;
                            font-size: 14px;
                            color: #9497a1;
                            float: left;
                            margin-right: 10px;
                            margin-top: 15px;
                            ">通讯补助
        </li>
        <li style="adding: 6px 10px;
                            border: 1px solid rgba(148,151,161,.3);
                            border-radius: 2px;
                            font-size: 14px;
                            color: #9497a1;
                            float: left;
                            margin-right: 10px;
                            margin-top: 15px;
                            ">带薪年假
        </li>
      </ul>
    </div>
    <!--firm advantage end-->

    <!--firm awards-->
    <div style="margin-bottom: 48px;">
      <h1 class="module-title" style="border-bottom: 1px solid #ccc;font-size: 18px">公司奖项</h1>
      <ul class="" style="height: 80px;list-style: none;padding: 2px 0 48px;overflow: hidden;">
        <li style="font-size: 14px;
                    color: #666;
                    float: left;
                    margin-right: 10px;
                    margin-top: 15px;
                    width: 48%;">2020年度中国最佳雇主
        </li>
        <li style="font-size: 14px;
                    color: #666;
                    float: left;
                    margin-right: 10px;
                    margin-top: 15px;
                    width: 48%;">2020全国百强雇主
        </li>
        <li style="font-size: 14px;
                    color: #666;
                    float: left;
                    margin-right: 10px;
                    margin-top: 15px;
                    width: 48%;">2019全国百强雇主
        </li>
        <li style="font-size: 14px;
                    color: #666;
                    float: left;
                    margin-right: 10px;
                    margin-top: 15px;
                    width: 48%;">2019最具社会责任雇主
        </li>
        <li style="font-size: 14px;
                    color: #666;
                    float: left;
                    margin-right: 10px;
                    margin-top: 15px;
                    width: 48%;">2018全国百强雇主
        </li>
        <li style="font-size: 14px;
                    color: #666;
                    float: left;
                    margin-right: 10px;
                    margin-top: 15px;
                    width: 48%;">2017全国百强雇主
        </li>
        <li style="font-size: 14px;
                    color: #666;
                    float: left;
                    margin-right: 10px;
                    margin-top: 15px;
                    width: 48%;">2017最受大学生关注雇主
        </li>
        <li style="font-size: 14px;
                    color: #666;
                    float: left;
                    margin-right: 10px;
                    margin-top: 15px;
                    width: 48%;">2016最具社会责任雇主
        </li>
      </ul>
    </div>
    <!--firm awards end-->

    <!--firm business information-->
    <div style="margin-bottom: 48px;">
      <h1 style="font-size: 18px;
                color: #333;
                border-bottom: 1px solid #ccc;">工商信息</h1>
      <ul style="padding-top: 10px;
                       overflow: hidden;list-style: none;">
        <li style="font-size: 14px;
                    color: #666;
                    float: left;
                    margin-right: 10px;
                    margin-top: 15px;
                    width: 48%;">
          <label>
            公司全称：
          </label>
          <span style="
                                flex: 1;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                                color: #666;">
                        中国联合网络通信集团有限公司
                    </span>
        </li>
        <li style="font-size: 14px;
                    color: #666;
                    float: left;
                    margin-right: 10px;
                    margin-top: 15px;
                    width: 48%;"><label>成立时间：</label> <span>1994-06-18</span></li>
        <li style="font-size: 14px;
                    color: #666;
                    float: left;
                    margin-right: 10px;
                    margin-top: 15px;
                    width: 48%;">
          <label>注册资本：</label>
          <span>10481551.9575万元人民币</span>
        </li>
        <li style="font-size: 14px;
                    color: #666;
                    float: left;
                    margin-right: 10px;
                    margin-top: 15px;
                    width: 48%;">
          <label>法人代表：</label>
          <span>王晓初</span>
        </li>
        <!---->
        <li style="font-size: 14px;
                    color: #666;
                    float: left;
                    margin-right: 10px;
                    margin-top: 15px;
                    width: 48%;">
          <label>数据来源：</label>
          <img src="static/img/content/brand/ant_credit_search_icon.png"
               style="display: inline-block;width: 98px;" alt="...">
        </li>
      </ul>
    </div>
    <!--firm business information end-->

    <!--firm recruitment-->
    <div style="margin-bottom: 48px;">
      <h1 style="font-size: 18px;
                color: #333;
                border-bottom: 1px solid #ccc;">职位招聘</h1>
      <!--region-->
      <div class="" style="padding: 5px 0 10px;">
        <div class="" style="padding: 22px 0;
                                    border-bottom: 1px solid #eee;
                                    overflow: hidden;
                                    position: relative;">
                    <span class="" style="font-size: 14px;
                                        color: #333;
                                        font-weight: bolder;
                                        float: left;
                                        padding-top: 3px;">
                        区域：
                    </span>
          <span class="conditions__all conditions__selected" style=" background: #1987fb;
                                                                            color: #fff;
                                                                            border-radius: 2px;
                                                                            float: left;
                                                                            font-size: 12px;
                                                                            padding: 5px 4px;
                                                                            cursor: pointer;">
                        不限
                    </span>
          <ul class="conditions__common conditions__common-more" style="  width: 510px;
                                                                                    padding-left: 20px;
                                                                                    overflow: hidden;
                                                                                    float: left;
                                                                                    list-style: none;
                                                                                    height: 54px;">
            <li style=" float: left;
                                    font-size: 12px;
                                    color: #666;
                                    padding: 5px 4px;
                                    margin-right: 14px;
                                    cursor: pointer;"
                class="conditions__all">
              北京
            </li>
            <li style=" float: left;
                                    font-size: 12px;
                                    color: #666;
                                    padding: 5px 4px;
                                    margin-right: 14px;
                                    cursor: pointer;"
                class="conditions__all">天津
            </li>
            <li style=" float: left;
                                    font-size: 12px;
                                    color: #666;
                                    padding: 5px 4px;
                                    margin-right: 14px;
                                    cursor: pointer;"
                class="conditions__all">江苏
            </li>
            <li style=" float: left;
                                    font-size: 12px;
                                    color: #666;
                                    padding: 5px 4px;
                                    margin-right: 14px;
                                    cursor: pointer;"
                class="conditions__all">广东
            </li>
            <li style=" float: left;
                                    font-size: 12px;
                                    color: #666;
                                    padding: 5px 4px;
                                    margin-right: 14px;
                                    cursor: pointer;"
                class="conditions__all">陕西
            </li>
            <li style=" float: left;
                                    font-size: 12px;
                                    color: #666;
                                    padding: 5px 4px;
                                    margin-right: 14px;
                                    cursor: pointer;"
                class="conditions__all">黑龙江
            </li>
            <li style=" float: left;
                                    font-size: 12px;
                                    color: #666;
                                    padding: 5px 4px;
                                    margin-right: 14px;
                                    cursor: pointer;"
                class="conditions__all">山东
            </li>
            <li style=" float: left;
                                    font-size: 12px;
                                    color: #666;
                                    padding: 5px 4px;
                                    margin-right: 14px;
                                    cursor: pointer;"
                class="conditions__all">四川
            </li>
            <li style=" float: left;
                                    font-size: 12px;
                                    color: #666;
                                    padding: 5px 4px;
                                    margin-right: 14px;
                                    cursor: pointer;"
                class="conditions__all">贵州
            </li>
            <li style=" float: left;
                                    font-size: 12px;
                                    color: #666;
                                    padding: 5px 4px;
                                    margin-right: 14px;
                                    cursor: pointer;"
                class="conditions__all">河北
            </li>
            <li style=" float: left;
                                    font-size: 12px;
                                    color: #666;
                                    padding: 5px 4px;
                                    margin-right: 14px;
                                    cursor: pointer;"
                class="conditions__all">安徽
            </li>
            <li style=" float: left;
                                    font-size: 12px;
                                    color: #666;
                                    padding: 5px 4px;
                                    margin-right: 14px;
                                    cursor: pointer;"
                class="conditions__all">江西
            </li>
            <li style=" float: left;
                                    font-size: 12px;
                                    color: #666;
                                    padding: 5px 4px;
                                    margin-right: 14px;
                                    cursor: pointer;"
                class="conditions__all">湖南
            </li>
            <li style=" float: left;
                                    font-size: 12px;
                                    color: #666;
                                    padding: 5px 4px;
                                    margin-right: 14px;
                                    cursor: pointer;"
                class="conditions__all">海南
            </li>
            <li style=" float: left;
                                    font-size: 12px;
                                    color: #666;
                                    padding: 5px 4px;
                                    margin-right: 14px;
                                    cursor: pointer;"
                class="conditions__all">重庆
            </li>
            <li style=" float: left;
                                    font-size: 12px;
                                    color: #666;
                                    padding: 5px 4px;
                                    margin-right: 14px;
                                    cursor: pointer;"
                class="conditions__all">青海
            </li>
            <li style=" float: left;
                                    font-size: 12px;
                                    color: #666;
                                    padding: 5px 4px;
                                    margin-right: 14px;
                                    cursor: pointer;"
                class="conditions__all">河南
            </li>
            <li style=" float: left;
                                    font-size: 12px;
                                    color: #666;
                                    padding: 5px 4px;
                                    margin-right: 14px;
                                    cursor: pointer;"
                class="conditions__all">甘肃
            </li>
            <li style=" float: left;
                                    font-size: 12px;
                                    color: #666;
                                    padding: 5px 4px;
                                    margin-right: 14px;
                                    cursor: pointer;"
                class="conditions__all">辽宁
            </li>
            <li style=" float: left;
                                    font-size: 12px;
                                    color: #666;
                                    padding: 5px 4px;
                                    margin-right: 14px;
                                    cursor: pointer;"
                class="conditions__all">浙江
            </li>
            <li style=" float: left;
                                    font-size: 12px;
                                    color: #666;
                                    padding: 5px 4px;
                                    margin-right: 14px;
                                    cursor: pointer;"
                class="conditions__all">湖北
            </li>
            <li style=" float: left;
                                    font-size: 12px;
                                    color: #666;
                                    padding: 5px 4px;
                                    margin-right: 14px;
                                    cursor: pointer;"
                class="conditions__all">广西
            </li>
            <li style=" float: left;
                                    font-size: 12px;
                                    color: #666;
                                    padding: 5px 4px;
                                    margin-right: 14px;
                                    cursor: pointer;"
                class="conditions__all">西藏
            </li>
            <li style=" float: left;
                                    font-size: 12px;
                                    color: #666;
                                    padding: 5px 4px;
                                    margin-right: 14px;
                                    cursor: pointer;"
                class="conditions__all">新疆
            </li>
            <li style=" float: left;
                                    font-size: 12px;
                                    color: #666;
                                    padding: 5px 4px;
                                    margin-right: 14px;
                                    cursor: pointer;"
                class="conditions__all">上海
            </li>
          </ul>
          <span class="conditions__more conditions__all">更多</span></div>
        <div class="conditions__warpper"><span class="conditions__title">职位：</span> <span
                class="conditions__all conditions__selected">不限</span>
          <ul class="conditions__common conditions__common-more">
            <li class="conditions__all">软件研发</li>
            <li class="conditions__all">运维支持</li>
            <li class="conditions__all">数据工程师</li>
            <li class="conditions__all">售前售后工程师</li>
            <li class="conditions__all">产品经理</li>
            <li class="conditions__all">机械设计/制造</li>
            <li class="conditions__all">运营管理</li>
            <li class="conditions__all">通信及硬件研发</li>
            <li class="conditions__all">市场/品牌推广</li>
            <li class="conditions__all">前端开发</li>
            <li class="conditions__all">行政</li>
            <li class="conditions__all">销售顾问</li>
            <li class="conditions__all">人事</li>
            <li class="conditions__all">文员/助理</li>
            <li class="conditions__all">业务运营</li>
            <li class="conditions__all">专业分析</li>
            <li class="conditions__all">银行及金融服务</li>
            <li class="conditions__all">合规风控/法务/律师</li>
            <li class="conditions__all">公关媒介</li>
            <li class="conditions__all">视觉/交互设计</li>
            <li class="conditions__all">项目管理</li>
            <li class="conditions__all">新媒体运营</li>
            <li class="conditions__all">商务服务</li>
            <li class="conditions__all">管培生/储备干部</li>
            <li class="conditions__all">人工智能</li>
            <li class="conditions__all">电子/电器/半导体</li>
            <li class="conditions__all">财务</li>
            <li class="conditions__all">商务拓展</li>
            <li class="conditions__all">测试工程师</li>
          </ul>
          <span class="conditions__more conditions__all">更多</span></div>
        <div class="conditions__warpper"><span class="conditions__title">薪资：</span> <span
                class="conditions__all conditions__selected">不限</span>
          <ul class="conditions__common">
            <li class="conditions__all">1K以下</li>
            <li class="conditions__all">1K-2K</li>
            <li class="conditions__all">2K-4K</li>
            <li class="conditions__all">4K-6K</li>
            <li class="conditions__all">6K-8K</li>
            <li class="conditions__all">8K-10K</li>
            <li class="conditions__all">10K-15K</li>
            <li class="conditions__all">15K-25K</li>
            <li class="conditions__all">25K-35K</li>
            <li class="conditions__all">35K-50K</li>
            <li class="conditions__all">50K-70K</li>
            <li class="conditions__all">70K-100K</li>
            <li class="conditions__all">100K以上</li>
          </ul> <!---->
        </div>
      </div>
    </div>
    <!--firm recruitment end-->
  </div>

  <!--sidebar -->
  <div class=" col-md-4 col-sm-4 col-lg-4 " style="margin-left: 15px;
                                                    border-top: 1px solid #ccc;
                                                    padding: 0;
                                                    width: 285px;
                                                    float: left;">
    <div class="" style="    margin-bottom: 30px;">
      <h1 style="font-size: 18px;
                        color: #333;
                        position: relative;
                        padding-top: 10px;
                        padding-bottom: 22px;margin-top: -20px">雇员点评
      </h1>
      <ul class="labels__warpper" style="list-style: none;overflow: hidden;padding: 0;">
        <li style="float: left;
                            margin-right: 10px;
                            background: #f5faff;
                            border-radius: 2px;
                            padding: 7px 10px;
                            font-size: 12px;
                            color: #1987fb;
                            margin-top: 10px;">
          工作环境好
        </li>
        <li style="float: left;
                            margin-right: 10px;
                            background: #f5faff;
                            border-radius: 2px;
                            padding: 7px 10px;
                            font-size: 12px;
                            color: #1987fb;
                            margin-top: 10px;">同事很nice
        </li>
        <li style="float: left;
                            margin-right: 10px;
                            background: #f5faff;
                            border-radius: 2px;
                            padding: 7px 10px;
                            font-size: 12px;
                            color: #1987fb;
                            margin-top: 10px;">氛围活跃
        </li>
        <li style="float: left;
                            margin-right: 10px;
                            background: #f5faff;
                            border-radius: 2px;
                            padding: 7px 10px;
                            font-size: 12px;
                            color: #1987fb;
                            margin-top: 10px;">人际关系好
        </li>
        <li style="float: left;
                            margin-right: 10px;
                            background: #f5faff;
                            border-radius: 2px;
                            padding: 7px 10px;
                            font-size: 12px;
                            color: #1987fb;
                            margin-top: 10px;">团队执行强
        </li>
        <li style="float: left;
                            margin-right: 10px;
                            background: #f5faff;
                            border-radius: 2px;
                            padding: 7px 10px;
                            font-size: 12px;
                            color: #1987fb;
                            margin-top: 10px;">交通便利
        </li>
        <li style="float: left;
                            margin-right: 10px;
                            background: #f5faff;
                            border-radius: 2px;
                            padding: 7px 10px;
                            font-size: 12px;
                            color: #1987fb;
                            margin-top: 10px;">五险一金
        </li>
        <li style="float: left;
                            margin-right: 10px;
                            background: #f5faff;
                            border-radius: 2px;
                            padding: 7px 10px;
                            font-size: 12px;
                            color: #1987fb;
                            margin-top: 10px;">实力大公司
        </li>
      </ul>
    </div>
  </div>
  <!--sidebar end -->
</div>
<!--introduction end-->
<!--3.页脚-->
<div class="container-fluid">
  <!--foot-->
  <div>
    <footer class="sticky-footer bg-white">
      <div class="container my-auto">
        <div class="copyright text-center my-auto">
          <span>Copyright &copy; Your Website 2021</span>
        </div>
      </div>
    </footer>
  </div>
  <!--foot end-->
</div>
</body>
</html>