<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>公司页面</title>

    <link href="/static/css/firm.css" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="/static/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/static/vendor/flexslider/flexslider.css" rel="stylesheet">
    <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!-- 加载flexSlide插件,是图片转换的更加平滑-->
    <script src="/static/vendor/flexslider/jquery.flexslider.js"></script>
    <!--  Scrolling Reveal Script -->
    <script src="/static/js/scrollReveal.js"></script>
    <!--  Scroll Scripts -->
    <script src="/static/js/jquery.easing.min.js"></script>
    <script src="/static/js/animation.js"></script>
    <!--   <style>
           html {
               font-family: sans-serif;
               line-height: 1.15;
               -webkit-text-size-adjust: 100%;
               -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
           }

           article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
               display: block;
           }

           body {
               margin: 0;
               padding: 0;
               font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
               "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
               "Segoe UI Symbol", "Noto Color Emoji";
               font-size: 1rem;
               font-weight: 400;
               line-height: 1.5;
               color: #858796;
               text-align: left;
               background-color: rgba(235, 238, 241, 0.93);
           }

           .header-navbar { /* 导航栏修改*/
               font-size: 14px;
               letter-spacing: 1px;
               min-height: 70px;
               background: #180303;
           }

           .logo-icon { /* 图标固定大小 */
               height: 51px;
               width: 180px;
               transform: translate(0px, -10px);
           }

           .navbar-font {
               transform: translate(0px, 7px); /* 以2D的形式进行位移 */
           }

           .navbar-nav {
               display: inline-block;
               float: none;
           }

           .navbar-nav li a {
               color: #050505;
           }

       </style>-->
</head>
<body>
<!--头部-->
<div class="navbar navbar-inverse  header-navbar " id="menu">
    <div class="container ">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img class="logo-icon" src="assets/img/logo180-50.png" alt="标题"/>
            </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right navbar-font">
                <li><a href="#home">主页</a></li>
                <li><a href="#features-sec">介绍</a></li>
                <li><a href="#faculty-sec">工作</a></li>
                <li><a href="#course-sec">课程</a></li>
                <li><a href="#contact-sec">联系我们</a></li>
            </ul>
        </div>
    </div>
</div>
<!--head end-->

<!--公司简介 firm card-->
<div class="row firm-header">
    <div class="col-lg-offset-3 col-md-offset-3 col-sm-offset-3 ">
        <div class="center-block col-md-2 col-lg-2 col-sm-2 firm-header-img">
            <img class="firm-header-img-size" src="static/img/content/brand/china_connect.jpg" alt="..">
        </div>
        <div class="col-md-4 col-lg-4 col-sm-4 firm-header-info ">
            <div class="" style="">
                <h1 style="margin: 12px 0 5px 0;font-size: 24px">数据移动有限公司</h1>
                <div style="font-size: 14px;
                            color: #9497a1;
                            position: relative;
                            vertical-align: middle;
                            float: left;width: 100%">
                    <span>成立时期</span>|
                    <span>企业类别</span>|
                    <span>成员人数</span>|
                    <span>企业专职</span>
                </div>
                <p class="" style="line-height: 20px">
                    <a href="#">官网</a>
                </p>
            </div>
        </div>
        <div class="col-md-5 col-sm-5 col-lg-5 firm-header-occupation-count" style="">
            <p style="">170</p>
            <p>在招职位</p>
        </div>
    </div>
</div>
<!--firm card end-->
<!--introduction -->
<div class="container">
    <div class="col-md-8 col-sm-8 col-lg-8 introduction-text-border">
        <!--firm introduce text-->
        <div class="introduction-content">
            <br/>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;小时候，总常常幻想着自己可以长大，可以独自一人去领略更多优美的风光。
                我们这一生，会有太多太多的梦想，要么就是用尽全力去实现他，要么就是永远沉积在自己的心中。
                我喜欢旅行，向往美丽的山、美丽的水，一见到大海和草原我就会心旷神怡，深陷其中。
                我期盼可以带着自己最爱的人去遨游世界，让他给自己拍上几张美美的照片。
                <br/>
                &nbsp;&nbsp;&nbsp; &nbsp;小时候，总常常幻想着自己可以长大，可以独自一人去领略更多优美的风光。
                我们这一生，会有太多太多的梦想，要么就是用尽全力去实现他，要么就是永远沉积在自己的心中。
                我喜欢旅行，向往美丽的山、美丽的水，一见到大海和草原我就会心旷神怡，深陷其中。
                我期盼可以带着自己最爱的人去遨游世界，让他给自己拍上几张美美的照片。
            </p>
            <img class="introduction-show" src="static/img/content/brand/联通集团大楼.jpeg" alt="..">
            <br/><br/>
        </div>
        <!--firm introduce end-->

        <!--firm advantage-->
        <div class="firm-model-spacing">
            <h1 class="model-title" style="">公司优势</h1>
            <ul class="advantage-specific-ul">
                <li>五险一金</li>
                <li>补充医疗保险</li>
                <li>绩效奖金</li>
                <li>加班补助</li>
                <li>交通补助</li>
                <li>餐补</li>
                <li>通讯补助</li>
                <li>带薪年假</li>
            </ul>
        </div>
        <!--firm advantage end-->

        <!--firm awards-->
        <div class="firm-model-spacing">
            <h1 class="awards-title">公司奖项</h1>
            <ul class="awards-specific-ul">
                <li>2020年度中国最佳雇主</li>
                <li>2020全国百强雇主</li>
                <li>2019全国百强雇主</li>
                <li>2019最具社会责任雇主</li>
                <li>2018全国百强雇主</li>
                <li>2017全国百强雇主</li>
                <li>2017最受大学生关注雇主</li>
                <li>2016最具社会责任雇主</li>
            </ul>
        </div>
        <!--firm awards end-->

        <!--firm business information-->
        <div class="firm-model-spacing">
            <h1 class="model-title">工商信息</h1>
            <ul class="business-information-ul">
                <li>
                    <label>
                        公司全称：
                    </label>
                    <span>
                        中国联合网络通信集团有限公司
                    </span>
                </li>
                <li>
                    <label>成立时间：</label>
                    <span>1994-06-18</span>
                </li>
                <li>
                    <label>注册资本：</label>
                    <span>10481551.9575万元人民币</span>
                </li>
                <li>
                    <label>法人代表：</label>
                    <span>王晓初</span>
                </li>
                <li>
                    <label>数据来源：</label>
                    <img src="static/img/content/brand/ant_credit_search_icon.png"
                         style="display: inline-block;width: 98px;" alt="...">
                </li>
            </ul>
        </div>
        <!--firm business information end-->

        <!--firm recruitment-->
        <div class="firm-model-spacing">
            <h1 class="model-title">职位招聘</h1>
            <!--region-->
            <!--此处有问题 块级区分不清楚-->
            <div>
                <div class="firm-recruitment-region">
                    <span class="recruitment-region-text">
                        区域：
                    </span>
                    <span class="recruitment-region-specific-tip">
                        不限
                    </span>
                    <ul class="recruitment-region-ul">
                        <li>北京</li>
                        <li>天津</li>
                        <li>江苏</li>
                        <li>广东</li>
                        <li>陕西</li>
                        <li>黑龙江</li>
                        <li>山东</li>
                        <li>四川</li>
                        <li>贵州</li>
                        <li>河北</li>
                        <li>安徽</li>
                        <li>江西</li>
                        <li>湖南</li>
                        <li>海南</li>
                        <li>重庆</li>
                        <li>青海</li>
                        <li>河南</li>
                        <li>甘肃</li>
                        <li>辽宁</li>
                        <li>浙江</li>
                        <li>湖北</li>
                        <li>广西</li>
                        <li>西藏</li>
                        <li>新疆</li>
                        <li>上海</li>
                    </ul>
                    <span class="region-ul-more">更多 ></span>
                </div>
                <div class="firm-recruitment-region">
                    <span class="recruitment-region-text">
                        职位：
                    </span>
                    <span class="recruitment-region-specific-tip">
                        不限
                    </span>
                    <ul class="recruitment-region-ul">
                        <li>软件研发</li>
                        <li>运维支持</li>
                        <li>数据工程师</li>
                        <li>售前售后工程师</li>
                        <li>产品经理</li>
                        <li>机械设计/制造</li>
                        <li>运营管理</li>
                        <li>通信及硬件研发</li>
                        <li>市场/品牌推广</li>
                        <li>前端开发</li>
                        <li>行政</li>
                        <li>销售顾问</li>
                        <li>人事</li>
                        <li>文员/助理</li>
                        <li>业务运营</li>
                        <li>专业分析</li>
                        <li>银行及金融服务</li>
                        <li>合规风控/法务/律师</li>
                        <li>公关媒介</li>
                        <li>视觉/交互设计</li>
                        <li>项目管理</li>
                        <li>新媒体运营</li>
                        <li>商务服务</li>
                        <li>管培生/储备干部</li>
                        <li>人工智能</li>
                        <li>电子/电器/半导体</li>
                        <li>财务</li>
                        <li>商务拓展</li>
                        <li>测试工程师</li>
                    </ul>
                    <span class="region-ul-more">更多 ></span>
                </div>
                <div class="firm-recruitment-region">
                    <span class="recruitment-region-text">
                        薪资：
                    </span>
                    <ul class="recruitment-region-ul">
                        <li>1K以下</li>
                        <li>1K-2K</li>
                        <li>2K-4K</li>
                        <li>4K-6K</li>
                        <li>6K-8K</li>
                        <li>8K-10K</li>
                        <li>10K-15K</li>
                        <li>15K-25K</li>
                        <li>25K-35K</li>
                        <li>35K-50K</li>
                        <li>50K-70K</li>
                        <li>70K-100K</li>
                        <li>100K以上</li>
                    </ul>
                </div>
            </div>
            <!--region end-->

            <!--occupation-->
            <div class="occupation">
                <!--job basic info-->
                <div class="job-title">
                    <h5>
                            <span>
                                模块研究
                            </span>
                    </h5>

                    <p class="job-basic-info" style="">
                        面议
                    </p>

                    <div>
                        <ul class="job-basic-info-ul">
                            <li>青岛</li>
                            <li>1-3年</li>
                            <li>本科</li>
                        </ul>
                    </div>
                </div>
                <!--job basic info end-->

                <div class="job-properties-frame">
                    <h5 class="job-properties-title">
                        <button class="job-firm-title" style="">
                            海尔智佳股份有限公司
                        </button>
                    </h5>

                    <ul class="job-properties-ul" style="">
                        <li>10000人以上</li>
                        <li>国企</li>
                    </ul>
                    <div class="job-firm-info-update">
                        <span class="job-firm-info-update-txt">
                             最近
                        </span>
                    </div>
                </div>
            </div>
            <div class="occupation">
                <!--job basic info-->
                <div class="job-title">
                    <h5>
                            <span>
                                模块研究
                            </span>
                    </h5>

                    <p class="job-basic-info" style="">
                        面议
                    </p>

                    <div>
                        <ul class="job-basic-info-ul">
                            <li>青岛</li>
                            <li>1-3年</li>
                            <li>本科</li>
                        </ul>
                    </div>
                </div>
                <!--job basic info end-->

                <div class="job-properties-frame">
                    <h5 class="job-properties-title">
                        <button class="job-firm-title" style="">
                            海尔智佳股份有限公司
                        </button>
                    </h5>

                    <ul class="job-properties-ul" style="">
                        <li>10000人以上</li>
                        <li>国企</li>
                    </ul>
                    <div class="job-firm-info-update">
                        <span class="job-firm-info-update-txt">
                             最近
                        </span>
                    </div>
                </div>
            </div>
            <!--company info end-->
        </div>
        <!--occupation end-->
    </div>
    <!--firm recruitment end-->


    <!--sidebar -->
    <div class="sidebar-frame col-md-4 col-sm-4 col-lg-4">
        <!--employer reviews -->
        <div class="employer-reviews-model-divide">
            <h1 class="employer-reviews-title">雇员点评</h1>
            <ul class="employer-reviews-ul">
                <li>工作环境好</li>
                <li>同事很nice</li>
                <li>氛围活跃</li>
                <li>人际关系好</li>
                <li>团队执行强</li>
                <li>交通便利</li>
                <li>五险一金</li>
                <li>实力大公司</li>
            </ul>
        </div>
        <!--employer reviews end-->
        <div class="employer-reviews-model-divide" >
            <h1 class="address-title" style=" ">
                公司地址
            </h1>
            <p class="address-txt" style="">
                <span>北京市西城区金融大街21号中国联通大厦</span>
            </p>
        </div>
    </div>
    <!--sidebar end -->
</div>
<!--introduction end-->
<!--3.页脚-->
<div class="container-fluid">
    <!--foot-->
    <div>
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Your Website 2021</span>
                </div>
            </div>
        </footer>
    </div>
    <!--foot end-->
</div>
</body>
</html>