
.BoxTips {
    /*clear: both;*/
    width: 160px;
    height: 118px; /* 60px */
    /*background: #fdfdfd;*/
    padding: 0;
    text-align: center;
    position: absolute;
    left: 88.3%;
    right: 0;
    bottom: 0;
    display: block; /*none*/
    z-index: 4 !important;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #e3e6f0 !important; /*!important 表示应用最高优先级 可直接覆盖掉父级的规则集 */
    border-radius: 0.35rem;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    box-shadow:0 3px 15px 3px #9ca0b1;

}
.BoxTips .TipTitle {
    margin: auto;
    /*width: 97.3%;*/
    height: 26%;
    padding: 2px;
    font-weight: bold;
    font-size: 15px;
    z-index: inherit;
    background-color: #f8f9fc;
    border-bottom: 1px solid #e3e6f0;
}

.BoxTips .TipTitle .Xtip {
    position: absolute;
    left: 80%;
    top: -1px;
    color: #FFF;
    cursor: pointer
}

.BoxTips .Content {
    width: 100%;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
    text-align: center
}